@page "/forgotpassword"
@attribute [AllowAnonymous]

@using SharedComponents.Pages.ForgotPassword.Model;
@inherits ForgotPasswordBase
@layout SignUpResetLayout

<PageTitle>@Localizer[Localization.forgot_password]</PageTitle>

<h1>@Localizer[Localization.forgot_password]</h1>

@if (ShowPasswordResetForm)
{
    if (IsPasswordResetTokenValid)
    {
        <p>
            @Localizer[Localization.reset_password_text]
        </p>
        <div class="screen">
            <form class="screen__form">
                <input class="screen__form-password" type="password" id="password" name="user-password" placeholder=@Localizer[Localization.password] @bind=@NewPassword>
                <input class="screen__form-submit" type="button" @onclick='() => Controller.ResetPassword()' value=@Localizer[Localization.confirm]>
            </form>
        </div>
    }
    else
    {
        RedirectToNonParametricPasswordReset();
    }
}
else
{
    if (!PasswordResetEmailSent)
    {
        <p>
            @Localizer[Localization.forgot_password_text]
        </p>
        <div class="screen">
            <form class="screen__form">
                <input class="screen__form-email" type="email" id="email" name="user-email" placeholder=@Localizer[Localization.email] @bind=@Email>
                <input class="screen__form-submit" type="button" @onclick='() => Controller.SendPasswordResetEmail()' value=@Localizer[Localization.reset]>
            </form>
        </div>
    }
    else
    {
        <p>
            @Localizer[Localization.password_reset_email_sent]
        </p>
    }
}